<!DOCTYPE html>
<html lang="pt_br">

<head>
  {% block head %}{% endblock %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main.css">
  <title>Foodfy</title>
</head>

<body>
  <header>
    <nav>
      <a href="/" class="active">Instructors</a>
      <a href="/members">Members</a>
    </nav>
  <header>
    {% block content %}{% endblock %}
</body>

</html>